{
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "only-multiline"],
    "consistent-return": "off",
    "global-require": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "max-len": ["warn", 120],
    "no-alert": "off",
    "no-confusing-arrow": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "prefer-promise-reject-errors": "warn",
    "prefer-template": "warn",
    "react/forbid-prop-types": "warn",
    "react/jsx-closing-tag-location": "error",
    "react/jsx-filename-extension": "off",
    "react/jsx-no-target-blank": "warn",
    "react/jsx-one-expression-per-line": "warn",
    "react/no-multi-comp": "off",
    "react/no-unescaped-entities": "off",
    "react/prefer-stateless-function": "warn",
    "react/destructuring-assignment": ["warn"],
    "react/prop-types": ["warn"],
    "react/jsx-props-no-spreading": ["warn"],
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "import/default": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "error",
    "import/no-unresolved": "off"
  },
  "plugins": ["react", "import"],
  "settings": {
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "__isBrowser__": true,
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  }
}
