@import "../../common/scss/_colors.scss";

.dropdown-holder {
  position: relative;
  font-size: 0.875rem;
  cursor: pointer;
  height: 100%;
  outline: none;
  .dropdown-value {
    border: 1px solid $gray-lighter;
    border-radius: 5px;
    min-height: 36px;
    padding: 0 5px 0 10px;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .placeholder {
    color: $placeholder;
  }
  ul {
    margin-top: 0px;
    padding: 10px 0;
    background-color: #ffffff;
    position: absolute;
    padding-left: 0;
    width: 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 2;
    animation: dropdownAnimate 0.3s ease;
    -webkit-animation: dropdownAnimate 0.3s ease;
    &.open {
      top: 100%;
      display: block;
    }
    &.close {
      top: 80%;
      display: none;
    }
    .list-item {
      display: flex;
      align-items: center;
      padding: 0 10px;
      list-style: none;
      cursor: pointer;
      &.active,
      &:focus {
        outline: none;
        color: $gray-dark;
      }
      &:hover {
        background-color: #f5fafe;
      }
    }
    .item-text {
      min-height: 40px;
      display: flex;
      align-items: center;
      color: #393939;
    }
  }
}
@keyframes dropdownAnimate {
  from {
    opacity: 0;
    top: 80%;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    top: 100%;
    transform: translateY(0px);
  }
}
