$primary: #3163e9;
$primary-btn: #ffffff;
$primary-btn-bg: #3163e9;
$primary-btn-hover-bg: #067eb9;

$disabled-btn: #9e9e9e;
$disabled-btn-bg: #e9e9e9;
$disabled-btn-border: #e9e9e9;

$default-btn: #3163e9;
$default-btn-bg: #ffffff;
$default-btn-hover: #ffffff;
$default-btn-hover-bg: #3163e9;

$success: #00b05a;
$success-bg: #ebffec;
$success-dark: #009d50;

$alert: #ff7b06;
$helper: #7a8994;

$error: #ff2c2c;
$error-bg: #fce6e5;

$warning: #ffa800;
$warning-bg: #ffffe7;
$warning-dark: #ff8e00;

$gray-lightest: #f9f9f9;
$gray-lighter: #e9e9e9;
$gray: #9e9e9e;
$gray-dark: #7d7d7d;
$gray-darker: #424448;

$primary-hover: #3163e9;
$primary-regular: #3163e9;

$secondary-hover: #89b4f9;

$blue-light: #f5fafe;
$bluegray-light: #edf1f7;
$black: #393939;
$secondary-text: #414e59;

$focus-placeholder: #d1d7dc;
$placeholder: #9e9e9e;
