.terms-conditions {
  color: #757575;
  text-align: center;
  .anchor {
    font-weight: 500;
    text-decoration: none;
    color: #3163e9;
  }
}
.card {
  display: flex;
  flex-direction: column;
}
.font-bold {
  font-weight: 500;
}
.display-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
