@import "../../scss/_media-queries.scss";
@import "../../scss/_colors.scss";

.get-started-root {
  color: $black;
  text-align: center;
  height: 100%;
  .inner-wrapper {
    margin: auto;
    height: calc(100% - 110px);
    justify-content: center;
    align-items: center;
  }
  .header-wrapper {
    background-color: #7554f6;
  }
  .heading {
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .label-style {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    color: #393939;
    text-align: left;
  }
  .form-holder {
    width: 100%;
  }
  .margin-b20 {
    margin-bottom: 20px;
  }
  .input-row {
    flex-basis: 50%;
  }
  @include respond-above(md) {
    & .inner-wrapper {
      max-width: 300px;
    }
  }
  @include respond-below(md) {
    & .inner-wrapper {
      padding: 0 20px;
    }
  }
}
