.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  & + .row {
    margin-top: 1rem;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  & > .col,
  & > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
